@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";

.excluir-modal {
	width: 700px;
	box-sizing: border-box;

	&_titulo {
		font-size: 16px;
		font-weight: 600;
		font-family: $ff-quicksand;
	}

	&_descricao {
		font-size: 12px;
		font-family: $ff-montserrat;
	}
}
