@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";

.container {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;

	&_lista {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		height: auto;
		padding: 0.3rem;
		border-radius: 0.7rem;
		background-color: rgba(255, 255, 255, 0.55);
		box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
		-webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
		-moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 1);
		overflow: hidden;

		&_cards {
			display: inline-flex;
		}
	}
}

.semAlbuns {
	display: flex;
	flex-direction: column;
	align-items: center;

	&_imagem {
		height: 15.625rem;
		width: 15.625rem;
		margin: 1rem;
	}

	&_texto {
		color: $branco;
		font-family: $ff-quicksand;

		&_destaque {
			font-weight: 600;
			color: $primary-light;
		}
	}
}

@media screen and (min-width: 980px) {
	.lista__container {
		justify-content: space-between;
		max-width: 855px;
		padding: 0.5rem;
	}

	.separador__album {
		display: none;
	}

	.album {
		height: 100%;
		width: 25rem;

		&:hover {
			border-radius: 0.5rem;
		}

		.album__container {
			margin: 0.2rem;
		}
	}
}

@media screen and (min-width: 1690px) {
	.lista__container {
		justify-content: center;
		max-width: 98.75rem;
		padding: 0.5rem;
	}

	.texto_semAlbuns {
		font-size: 1.4rem;
	}
}
