@import url("../../../../styles.css");

.container {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}

.lista__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: 0.3rem 0;
	border-radius: 0.7rem;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 1);
	overflow: hidden;

	.cards {
		display: inline-flex;
	}
}

.semAlbuns {
	display: flex;
	flex-direction: column;
	align-items: center;

	.imagem_semAlbuns {
		height: 250px;
		width: 250px;
		margin: 1em;
	}

	.texto_semAlbuns {
		color: white;
		font-family: var(--ff-quicksand);

		.destaque_texto {
			font-weight: 600;
			color: var(--primary-light);
		}
	}
}

@media screen and (min-width: 980px) {
	.lista__container {
		justify-content: space-between;
		max-width: 855px;
		padding: 0.5rem;
	}

	.separador__album {
		display: none;
	}

	.album {
		height: 100%;
		width: 400px;

		&:hover {
			border-radius: 0.5em;
		}

		.album__container {
			margin: 0.2em;
		}
	}
}

@media screen and (min-width: 1690px) {
	.lista__container {
		justify-content: center;
		gap: 0.52rem;
		max-width: 1600px;
		padding: 0.3rem;
	}

	.texto_semAlbuns {
		font-size: 1.4rem;
	}
}
