<div class="container">
	<div class="lista__container" *ngIf="albuns.length > 0; else semAlbuns">
		<div class="cards" *ngFor="let album of albuns; let i = index">
			<app-card-album
				[album]="album"
				[index]="i"
				[tabIndex]="i"
				(click)="idSelecionado(album.id)"
			></app-card-album>
		</div>

		<infinite-scroll
			infinite-scroll
			[infiniteScrollDistance]="scrollDistance"
			[infiniteScrollUpDistance]="scrollUpDistance"
			*ngIf="hasMoreData"
			(scrolled)="onScroll()"
		></infinite-scroll>
	</div>
	<br />

	<ng-template #semAlbuns class="semAlbuns">
		<div class="semAlbuns">
			<img
				class="imagem_semAlbuns"
				src="../../../../assets/Icons/papagaio.svg"
				alt="ScreenSound Papagaio"
			/>

			<div class="texto_semAlbuns">
				"Parece que ficamos sem <b class="destaque_texto">Álbuns</b> capitão!"
			</div>
		</div>
	</ng-template>
</div>
