@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/scss/mixins/_display.scss";

p {
	margin: 0;
}

img {
	height: 32px;
}

.container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	background-color: $bg;
	padding: 1em;

	.menu {
		&_logo {
			display: flex;
			width: auto;
			height: 45px;
		}

		&_logo_desktop {
			display: none;
		}
	}

	&_opcoes {
		display: inline-flex;
		align-items: center;
		height: 100%;
		gap: 1.5em;

		&_button {
			display: inline-flex;
			height: 48px;
			width: 48px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 32px;
		}
	}

	&_opcoes_desktop {
		display: none;
	}
}

.musicas {
	background-image: url("../../../assets/buttons/musicas_white.png");

	&:active {
		background-image: url("../../../assets/buttons/musicas_green.png");
	}
}

.albuns {
	background-image: url("../../../assets/buttons/albuns_white.png");

	&:active {
		background-image: url("../../../assets/buttons/albuns_green.png");
	}
}

.bandas {
	background-image: url("../../../assets/buttons/bandas_white.png");

	&:active {
		background-image: url("../../../assets/buttons/bandas_green.png");
	}
}

.perfil {
	display: flex;
	align-items: center;
	cursor: pointer;

	&_imagem {
		height: 48px;
		width: 48px;
		background-image: url("../../../assets/buttons/perfil_green.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 32px;
	}

	&_button {
		display: none;
	}
}

@media screen and (min-width: 1220px) {
	.container {
		padding-left: 0.5rem;
		height: 4.813rem;

		.menu {
			&_logo {
				display: none;
			}

			&_logo_desktop {
				display: block;
			}
		}

		&_opcoes {
			display: none;
		}

		&_opcoes_desktop {
			display: flex;
			position: center;
			align-items: center;
			height: 100%;

			.button {
				@include display-flex(row, center, center);
				@include label-large;
				font-weight: $font-weight-normal;
				color: $white;
				font-family: $ff-montserrat;
				height: 78px;
				width: 100px;
				transition: all 0.3s ease;

				&:hover {
					color: $bg;
					background-color: $primary-dark;
					transform: translateY(-1px);
					font-weight: 700;
				}
			}
		}
	}

	hr {
		display: flex;
		height: 100%;
		opacity: 25%;
		color: $white;
	}

	.perfil {
		cursor: pointer;

		&:hover &_imagem {
			background-image: url("../../../assets/buttons/perfil_black.png");
			background-color: $primary-light;
			transform: translateY(-1px);
		}

		&:hover &_button {
			color: $bg;
			background-color: $primary-dark;
			transform: translateY(-1px);
			font-weight: 700;
		}

		&_imagem {
			display: flex;
			height: 78px;
			width: 48px;
			background-size: 32px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("../../../assets/buttons/perfil_green.png");
			transition: all 0.3s ease;
		}

		&_button {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-family: $ff-montserrat;
			height: 78px;
			width: 90px;
			transition: all 0.3s ease;
		}
	}
}
