<div class="container">
	<div class="lista__container" *ngIf="musicas.length > 0; else semMusicas">

		<div class="musica" *ngFor="let musica of musicas; let i = index" [style.animation-delay]="i * 100 + 'ms'">

			<div class="musica__container">

				<div class="container__musica">

					<img
						[src]="musica.imagem ? musica.imagem : imagemNaoEncontrada"
						[alt]="musica.nome"
						class="imagem__musica"
						(mouseover)="onMouseOver(i)"
						(mouseout)="onMouseOut()"
						[class.animate]="isHovered === i"
					/>

					<p>
						<b>{{ musica.banda }}</b>
					</p>

				</div>

				<hr />

				<div class="container__musica2">

					<b class="nome__musica">{{ musica.nome }}</b>

					<p class="descricoes">
						<b>Duração</b>: {{ musica.duracao }} segundos <br />
						<b>Álbum</b>: {{ musica.album }} <br>
						<b>{{ tratarDisponibilidade(musica.disponivel) }}</b>
					</p>

				</div>

			</div>

			<hr class="separador__musica" />
		</div>

		<infinite-scroll infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollUpDistance]="scrollUpDistance" *ngIf="hasMoreData" (scrolled)="onScroll()"></infinite-scroll>

	</div>

	<app-add-musica *ngIf="add"></app-add-musica>

	<ng-template #semMusicas class="semMusicas">
		<img
			src="../../../../assets/Icons/papagaio.svg"
			alt="ScreenSound Papagaio"
			style="height: 250px; width: 250px; margin: 1em"
		/>

		<p style="color: var(--branco)">
			"Parece que ficamos sem <b>Músicas</b> capitão!"
		</p>
	</ng-template>

</div>
