@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/scss/mixins/_display.scss";
@import "src/scss/responsivity/breakpoints.scss";
@import "src/reset.scss";

p {
	color: $bg;
}

.container {
	@include display-flex(row, center, center);
}

.lista__container {
	@include display-flex(row, center, center, wrap);
	height: auto;
	padding: 0.3rem;
	border-radius: 0.7rem;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 1);
	overflow: hidden;

	@include media-min-sm {
		max-width: 53.438rem;
		padding: 0.3rem;
	}

	@include media-min-lg {
		max-width: 94.688rem;
		column-gap: 0.5rem;
		padding: 0.5rem;
	}

	.cards {
		width: 100%;

		@include media-min-sm {
			max-width: 21rem;
		}

		@include media-min-lg {
			max-width: 23rem;
		}
	}
}

.semMusicas {
	@include display-flex(column);

	&_imagem {
		height: 15.625rem;
		width: 15.625rem;
		margin: 1rem;
	}

	&_texto {
		@include body-medium;
		font-family: $ff-quicksand;

		.destaque_texto {
			font-weight: $font-weight-semiBold;
			color: $primary-light;
		}
	}
}
