<div class="container">
	<div class="lista__container" *ngIf="musicas.length > 0; else semMusicas">
		<div class="cards" *ngFor="let musica of musicas; let i = index">
			<app-card-musica [musica]="musica" [index]="i"></app-card-musica>
		</div>

		<infinite-scroll
			infinite-scroll
			[infiniteScrollDistance]="scrollDistance"
			[infiniteScrollUpDistance]="scrollUpDistance"
			*ngIf="hasMoreData"
			(scrolled)="onScroll()"
		></infinite-scroll>
	</div>
	<br />

	<ng-template #semMusicas class="semMusicas">
		<img
			src="../../../../assets/Icons/papagaio.svg"
			alt="ScreenSound Papagaio"
			style="height: 250px; width: 250px; margin: 1em"
		/>

		<p style="color: var(--branco)">
			"Parece que ficamos sem <b style="font-weight: bold">Músicas</b> capitão!"
		</p>
	</ng-template>
</div>
