@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";
@import "src/reset.scss";

p {
	color: $fundo;
}

.container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.lista__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0.3rem 0;
	width: 100%;
	height: auto;
	border-radius: 0.7em;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 1);
	overflow: hidden;

	.cards {
		display: inline-flex;
		justify-content: center;
	}
}

.semMusicas {
	display: flex;
	flex-direction: column;
	align-items: center;

	.imagem_semMusicas {
		height: 250px;
		width: 250px;
		margin: 1em;
	}

	.texto_semMusicas {
		color: $branco;
		font-family: $ff-quicksand;

		.destaque_texto {
			font-weight: 600;
			color: $primary-light;
		}
	}
}

@media screen and (min-width: 980px) {
	.lista__container {
		justify-content: space-between;
		padding: 0.5em;
		max-width: 855px;
	}

	.texto_semMusicas {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1690px) {
	.lista__container {
		justify-content: center;
		max-width: 1580px;
		padding: 0.5rem;
	}

	.texto_semMusicas {
		font-size: 1.4rem;
	}

	.imagem_semMusicas {
		height: 350px;
		width: 350px;
	}
}
