@import url("../../../../styles.css");

p {
	color: var(--fundo);
}

.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.lista__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	border-radius: 0.7em;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 1);
	overflow: hidden;
}

.musica {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 500ms forwards;
	transition: transform 0.5s ease;
	cursor: default;

	&:hover {
		background-color: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(5.5px);
		-webkit-backdrop-filter: blur(5.5px);
		transition: transform ease-in-out 2s both;
	}

	&:hover .imagem__musica {
		transition: scale(1.1);
	}

	&:hover .nome__musica {
		color: #55a162;
		animation: scale-up-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			alternate both;
	}

	.musica__container {
		display: flex;
		padding: 0.5em;

		hr {
			width: 2px;
			height: 125px;
			margin: 0 0.5em;
			background-color: var(--branco);
		}

		.container__musica {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 166px;

			div {
				height: 100%;
				display: flex;
				align-items: center;
				color: var(--fundo);
				justify-content: center;
			}

			.imagem__musica {
				height: 100px;
				width: 100px;
				border-radius: 0.5em;
				transition: all 0.5s ease;
			}
		}

		.container__musica2 {
			width: 100%;
			display: flex;
			flex-direction: column;

			.nome__musica {
				display: flex;
				margin: 0.5em;
				font-size: 100%;
				color: var(--fundo);
				word-wrap: break-word;
				font-weight: bold;
				font-family: var(--ff-montserrat);
			}

			.descricoes {
				margin: 0 0.5em;
			}
		}

		.separador__musica {
			width: 100%;
			height: 2px;
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.02);
	}
}

@media screen and (min-width: 980px) {
	.lista__container {
		justify-content: flex-start;
		padding: 0.5em;
		max-width: 855px;
		gap: 0.5em;
	}

	.separador__musica {
		display: none;
	}

	.musica {
		height: 100%;
		width: 400px;
	}

	.musica:hover {
		border-radius: 0.5em;
	}

	.musica__container {
		margin: 0.2em;
	}
}

/* @media screen and (min-width: 1440px) {
	.lista__container {
		justify-content: flex-start;
		padding: 0.5em;
		max-width: 1235px;
		gap: 0.5em;
	}
} */

@media screen and (min-width: 1690px) {
	.lista__container {
		justify-content: flex-start;
		min-width: 1642px;
		gap: 0.5em;
	}
}
