<div class="container">
	<div class="lista__container" *ngIf="musicas.length > 0; else semMusicas">
		<div class="cards" *ngFor="let musica of musicas; let i = index">
			<app-card-musica
				[musica]="musica"
				[index]="i"
				(click)="idSelecionado(musica.id)"
				(keydown)="handler.handleKeyDownPress($event, idSelecionado)"
				[tabIndex]="i"
			></app-card-musica>
		</div>

		<infinite-scroll
			infinite-scroll
			[infiniteScrollDistance]="scrollDistance"
			[infiniteScrollUpDistance]="scrollUpDistance"
			*ngIf="hasMoreData"
			(scrolled)="onScroll()"
		></infinite-scroll>
	</div>
	<br />

	<ng-template #semMusicas>
		<div class="semMusicas">
			<img
				class="semMusicas_imagem"
				src="../../../../assets/Icons/papagaio.svg"
				alt="ScreenSound Papagaio"
			/>

			<div class="semMusicas_texto">
				"Parece que ficamos sem <b class="destaque_texto">Músicas</b> capitão!"
			</div>
		</div>
	</ng-template>
</div>
