@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/scss/mixins/_display.scss";
@import "src/reset.scss";

p {
	color: $bg;
}

.container {
	@include display-flex(row, center, center);
}

.lista__container {
	@include display-flex(row, center, center);
	box-sizing: border-box;
	flex-wrap: wrap;
	height: auto;
	padding: .3rem;
	border-radius: 0.7rem;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 1);
	overflow: hidden;

	.cards {
		width: 100%;
		max-width: 400px;
	}
}

.semMusicas {
	display: flex;
	flex-direction: column;
	align-items: center;

	&_imagem {
		height: 15.625rem;
		width: 15.625rem;
		margin: 1rem;
	}

	&_texto {
		color: $white;
		font-family: $ff-quicksand;

		.destaque_texto {
			font-weight: 600;
			color: $primary-light;
		}
	}
}

@media screen and (min-width: 980px) {
	.lista__container {
		justify-content: space-between;
		padding: 0.5em;
		max-width: 53.438rem;
	}

	.texto_semMusicas {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 1690px) {
	.lista__container {
		flex-wrap: wrap;
		max-width: 98.75rem;
		padding: 0.5rem;
	}

	.texto_semMusicas {
		font-size: 1.4rem;
	}

	.imagem_semMusicas {
		height: 21.875rem;
		width: 21.875rem;
	}
}
