<div class="container" *ngIf="listar">
	<div
		class="lista__container"
		*ngIf="bandas.length > 0; else semBandas"
		[@fadeIn]
	>
		<div
			class="cards"
			*ngFor="let banda of bandas; let i = index"
		>
			<app-card-banda
				[banda]="banda"
				[index]="i"
				(click)="idSelecionado(banda.id)"
				(keydown)="handler.handleKeyDownPress($event, idSelecionado)"
				[tabindex]="i"
				[@hoverAnimation]
			></app-card-banda>
		</div>

		<infinite-scroll
			[infiniteScrollDistance]="scrollDistance"
			[infiniteScrollUpDistance]="scrollUpDistance"
			*ngIf="hasMoreData"
			(scrolled)="onScroll()"
		></infinite-scroll>
	</div>

	<ng-template #semBandas class="semBandas">
		<img
			src="../../../../assets/Icons/papagaio.svg"
			alt="ScreenSound Papagaio"
			style="height: 250px; width: 250px; margin: 1em"
		/>

		<p style="color: white">
			"Parece que ficamos sem <b style="font-weight: bold">Bandas</b> capitão!"
		</p>
	</ng-template>
</div>
