@import url("../../../../styles.css");

p {
	color: var(--fundo);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
}

.lista__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 1220px;
	height: auto;
	padding: 0.5em 0;
	border-radius: 0.7em;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 1);
	overflow: hidden;

	.cards {
		display: inline-flex;
		flex-wrap: wrap;
	}
}

app-footer {
	margin: 0.5em 0 0 0;
	width: 100%;
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.01);
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
