<div class="container">
	<div class="lista__container" *ngIf="bandas.length > 0; else semBandas">
		<div class="cards" *ngFor="let banda of bandas; let i = index">
			<app-card-banda
				[banda]="banda"
				[index]="i"
				(click)="idSelecionado(banda.id)"
				(keydown)="handler.handleKeyDownPress($event, idSelecionado)"
				[tabIndex]="i"
			></app-card-banda>
		</div>

		<infinite-scroll
			[infiniteScrollDistance]="scrollDistance"
			[infiniteScrollUpDistance]="scrollUpDistance"
			*ngIf="hasMoreData"
			(scrolled)="onScroll()"
		></infinite-scroll>
	</div>

	<ng-template #semBandas class="semBandas">
		<div class="semBandas">
			<img
				class="imagem_semBandas"
				src="../../../../assets/Icons/papagaio.svg"
				alt="ScreenSound Papagaio"
			/>

			<div class="texto_semBandas">
				"Parece que ficamos sem <b class="destaque_texto">Bandas</b> capitão!"
			</div>
		</div>
	</ng-template>
</div>
