@import url(../../../../styles.css);

:root {
	--primary-light: #8abdff;
	--primary: #6d5dfc;
	--primary-dark: #5b0eeb;

	--greyLight-1: #e4ebf5;
	--greyLight-2: #c8d0e7;
	--greyLight-3: #bec8e4;
	--greyDark: #9baacf;
	--white: #ffffff;

	--shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
		-0.2rem -0.2rem 0.5rem var(--white);

	--inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
		inset -0.2rem -0.2rem 0.5rem var(--white);
}

.pesquisador {
	flex-direction: column;
	box-sizing: border-box;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
	position: relative;
	padding: 0.5em;
	display: flex;
	width: 417.09px;

	.titulo__pesquisador {
		justify-content: center;
		align-items: center;
		font-size: 24px;
		display: flex;
		height: 24px;
	}

	.descricao__pesquisador {
		font-family: var(--ff-quicksand);
		justify-content: center;
		text-align: center;
		font-size: 16px;
		display: flex;
	}

	.artist__album {
		justify-content: space-between;
		display: flex;
		width: 100%;
		gap: 0.5em;
	}

	.pesquisar__button {
		background-color: transparent;
		border: none;
		height: 32px;
		width: 32px;
		padding: 0;
		background-image: url(../../../../assets/Icons/search-white.png);
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px;
		cursor: pointer;
	}

	.pesquisar__button:hover {
		background-image: url(../../../../assets/Icons/search-green.png);
	}
}

.search {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

@media screen and (min-width: 900px) {
	.pesquisador {
		width: 700px;
	}

	.pesquisar__button {
		height: 16px;
		width: 16px;

		span {
			background-size: 16px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../../../../assets/Icons/search-black.png);
		}

		span:hover {
			background-image: url(../../../../assets/Icons/search-green.png);
		}
	}
}

@-webkit-keyframes inputHighlighter {
	from {
		background: #5aed83;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@-moz-keyframes inputHighlighter {
	from {
		background: #5aed83;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@keyframes inputHighlighter {
	from {
		background: #5aed83;
	}
	to {
		width: 0;
		background: transparent;
	}
}
