<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="pesquisador container__painel" *ngIf="rotaAtual === '/filtro/musicas'">
	<span class="fechar__janela" (click)="onSearchChange()" (keydown)="handler.handleKeyDownPress($event, onSearchChange)" tabindex="0"></span>
	<h2 class="titulo">Pesquisar</h2>
	<p class="descricao">Pesquise músicas por nome, banda ou álbum</p><br>

	<form class="form" (submit)="onSearchMusicas()">
		<div class="search div__input">

			<input type="text" class="search__input" name="search" required tabindex="1" [(ngModel)]="filtro">
			<label for="form" class="search__label">Música</label>

			<button type="submit" class="pesquisar__button" tabindex="2"></button>

		</div>

		<section class="artist__album">

			<div class="artist div__input">
				<input type="text" class="artist__input" required tabindex="3" [(ngModel)]="nomeBanda">
				<label for="form">Artista</label>
			</div>

			<div class="album div__input">
				<input type="text" class="album__input" required tabindex="4" [(ngModel)]="nomeAlbum">
				<label for="form">Album</label>
			</div>

		</section>

	</form>
</div>

<div class="pesquisador container__painel" *ngIf="rotaAtual === '/filtro/albuns'">
	<span class="fechar__janela" (click)="onSearchChange()" (keydown)="handler.handleKeyDownPress($event, onSearchChange)" tabindex="0"></span>
	<h2 class="titulo__pesquisador">Pesquisar</h2>
	<p class="descricao__pesquisador">Pesquise álbuns pelo nome ou pela banda</p><br>

	<form class="form" (submit)="onSearchAlbum()">

		<div class="search div__input">

			<input type="text" class="search__input" name="search" required [(ngModel)]="filtro">
			<label for="form" class="search__label">Álbum</label>

			<button type="submit" class="pesquisar__button" tabindex="2"></button>

		</div>

		<div class="artist div__input">

			<input type="text" class="artist__input" required>
			<label for="form">Artista</label>

		</div>

	</form>
</div>

<div class="pesquisador container__painel" *ngIf="rotaAtual === '/filtro/bandas'">
	<span class="fechar__janela" (click)="onSearchChange()" (keydown)="handler.handleKeyDownPress($event, onSearchChange)" tabindex="0"></span>
	<h2 class="titulo__pesquisador">Pesquisar</h2>
	<p class="descricao__pesquisador">Pesquise bandas pelo nome</p><br>

	<form action="" class="form" (submit)="onSearchBanda()">

		<div class="search div__input">

			<input type="text" class="search__input" name="search" required tabindex="1" [(ngModel)]="filtro">
			<label for="form" class="search__label">Artista / Banda</label>

			<button type="submit" class="pesquisar__button" tabindex="2"></button>

		</div>

	</form>
</div>
