@import url(../../../../styles.css);

.pesquisador {
	flex-direction: column;
	box-sizing: border-box;
	border-radius: 0.5em;
	margin-bottom: .5em;
	position: relative;
	padding: 0.5em;
	display: flex;
	width: 100%;

	.titulo__pesquisador {
		justify-content: center;
		align-items: center;
		font-size: 24px;
		display: flex;
		height: 24px;
	}

	.descricao__pesquisador {
		font-family: var(--ff-quicksand);
		justify-content: center;
		text-align: center;
		font-size: 16px;
		display: flex;
	}

	.artist__album {
		justify-content: space-between;
		display: flex;
		width: 100%;
		gap: 0.5em;
	}

	.pesquisar__button {
		background-color: transparent;
		border: none;
		height: 32px;
		width: 32px;
		padding: 0;
		background-image: url(../../../../assets/Icons/search-white.png);
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 24px;
		cursor: pointer;
	}

	.pesquisar__button:hover {
		background-image: url(../../../../assets/Icons/search-green.png);
	}
}

.search {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

@media screen and (min-width: 900px) {
	.pesquisador {
		width: 700px;
	}

	.pesquisar__button {
		height: 16px;
		width: 16px;

		span {
			background-size: 16px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../../../../assets/Icons/search-black.png);
		}

		span:hover {
			background-image: url(../../../../assets/Icons/search-green.png);
		}
	}
}

@-webkit-keyframes inputHighlighter {
	from {
		background: #5aed83;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@-moz-keyframes inputHighlighter {
	from {
		background: #5aed83;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@keyframes inputHighlighter {
	from {
		background: #5aed83;
	}
	to {
		width: 0;
		background: transparent;
	}
}
