@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/scss/mixins/_display.scss";
@import "src/scss/styles.scss";

.pesquisador {
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	display: flex;
	width: 100%;

	&_titulo {
		@include display-flex(row, center, center);
		@include headline-small;
		height: 1.5rem;
	}

	&_descricao {
		justify-content: center;
		text-align: center;
		font-size: 1rem;
		display: flex;
	}

	.artist__album {
		justify-content: space-between;
		display: flex;
		width: 100%;
		gap: 0.5rem;
	}

	.search {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		&_button {
			padding: 0;
			width: 2rem;
			height: 2rem;
			border: none;
			outline: none;
			cursor: pointer;
			background-color: transparent;
			background-image: url(../../../../assets/Icons/search-white.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1.5rem;

			&:hover {
				background-image: url(../../../../assets/Icons/search-green.png);
			}
		}
	}
}

@media screen and (min-width: 900px) {
	.pesquisador {
		width: 43.75rem;
	}

	.pesquisar__button {
		height: 1rem;
		width: 1rem;

		span {
			background-size: 1rem;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url(../../../../assets/Icons/search-black.png);
		}

		span:hover {
			background-image: url(../../../../assets/Icons/search-green.png);
		}
	}
}

@-webkit-keyframes inputHighlighter {
	from {
		background: $primary-light;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@-moz-keyframes inputHighlighter {
	from {
		background: $primary-light;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@keyframes inputHighlighter {
	from {
		background: $primary-light;
	}
	to {
		width: 0;
		background: transparent;
	}
}
