@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/scss/mixins/_display.scss";

.novidades {
	@include display-flex(column, center, center);
	margin: 0.5em;

	.header {
		@include display-flex(row, center, center);
		background-color: $primary-dark;
		border-radius: 0.5rem 0.5rem 0 0;
		height: 2.813rem;
		width: 100%;

		&_titulo {
			@include display-flex(row, center, center);
			@include headline-small;
			font-family: $ff-montserrat;
			color: $white;
		}
	}

	&_imagem {
		height: 35vh;
		width: 100%;
		overflow: hidden;
		position: relative;
		background-repeat: no-repeat;
		background-image: url("../../../../assets/headphone-1.png");
		background-size: cover;
	}

	.footer {
		@include display-flex(row, center, center);
		background-color: $primary-dark;
		border-radius: 0 0 0.5rem 0.5rem;
		height: 2.813rem;
		width: 100%;

		&_titulo {
			@include headline-small;
			font-family: $ff-montserrat;
			color: $white;
		}
	}
}

@media screen and (min-width: 1220px) {
	.novidades {
		display: flex;
	}

	.imagem__container {
		display: none;
	}

	.imagem__container__any {
		display: block;
		height: 50vh;
		width: 100%;
		box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 25%);
	}

	.overlay {
		box-shadow: 0px 10px 0px 0px #333 45%;
		position: absolute;
	}

	.imagem__novidade__any {
		background-image: url("../../../../assets/headphone-1.png");
		background-size: cover;
		background-repeat: no-repeat;
	}

	.titulo__container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	a {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.titulo__novidade__any {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $primary-dark;
		font-size: 26px;
		font-family: $ff-montserrat;
		height: 45px;
		width: 100%;
		border-radius: 0 0 0.5em 0.5em;
	}

	.titulo__novidade__any__imagem {
		height: 24px;
		width: 24px;
	}

	.titulo__novidade,
	.texto__novidade {
		display: none;
	}
}
