@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";

p {
	margin: 0;
}

img {
	height: 32px;
}

.container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	background-color: $fundo;
	padding: 1em;

	.menu {
		&_logo {
			display: flex;
			width: auto;
			height: 45px;
		}
		
		&_logo_desktop {
			display: none;
		}
	}

	&_opcoes {
		display: inline-flex;
		align-items: center;
		height: 100%;
		gap: 1.5em;

		&_button {
			display: inline-flex;
			height: 48px;
			width: 48px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 32px;
		}
	}

	&_opcoes_desktop {
		display: none;

		.button {
			display: none;
		}

		hr {
			display: none;
		}
	}
}

.musicas {
	background-image: url("../../../assets/buttons/musicas_white.png");

	&:active {
		background-image: url("../../../assets/buttons/musicas_green.png");
	}
}

.albuns {
	background-image: url("../../../assets/buttons/albuns_white.png");

	&:active {
		background-image: url("../../../assets/buttons/albuns_green.png");
	}
}

.bandas {
	background-image: url("../../../assets/buttons/bandas_white.png");

	&:active {
		background-image: url("../../../assets/buttons/bandas_green.png");
	}
}

.perfil {
	display: flex;
	align-items: center;
	cursor: pointer;

	&_imagem {
		height: 48px;
		width: 48px;
		background-image: url("../../../assets/buttons/perfil_green.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 32px;
	}

	&_button {
		display: none;
	}
}





@media screen and (min-width: 1220px) {
	.container {
		padding: 0;
		height: 77px;
	}

	.container__opcoes {
		display: none;
	}

	.container__opcoes__desktop {
		display: flex;
		position: center;
		align-items: center;
		height: 100%;
		margin-right: 5.5em;
	}

	.container__meuPerfil {
		display: flex;
		align-items: center;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-family: $ff-montserrat;
		height: 78px;
		width: 100px;
		transition: all 0.3s ease;

		&:hover {
			color: $fundo;
			background-color: $primary-dark;
			transform: translateY(-1px);
			font-weight: 700;
		}
	}

	.menu__logo {
		display: none;
	}

	.menu__logo__any {
		display: flex;
		height: 45px;
		margin: 0.5em;
	}

	.container__opcoes__desktop hr {
		display: flex;
		width: 2px;
		height: 100%;
		opacity: 25%;
		color: $branco;
	}

	.perfil {
		cursor: pointer;

		&:hover &_imagem {
			background-image: url("../../../assets/buttons/perfil_black.png");
			background-color: $primary-light;
			transform: translateY(-1px);
		}

		&:hover &_button {
			color: $fundo;
			background-color: $primary-dark;
			transform: translateY(-1px);
			font-weight: 700;
		}

		&_imagem {
			display: flex;
			height: 78px;
			width: 48px;
			background-size: 32px;
			background-repeat: no-repeat;
			background-position: center;
			background-image: url("../../../assets/buttons/perfil_green.png");
			transition: all 0.3s ease;
		}

		&_button {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			font-family: $ff-montserrat;
			height: 78px;
			width: 90px;
			transition: all 0.3s ease;
		}
	}
}
