@import url("../../../styles.css");

p {
	margin: 0;
}

img {
	height: 32px;
}

.container__opcoes {
	display: inline-flex;
	align-items: center;
	height: 100%;
	gap: 1.5em;
}

.button__mobile {
	display: inline-flex;
	height: 48px;
	width: 48px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 32px;
}

.musicas {
	background-image: url("../../../assets/buttons/musicas_white.png");
}

.musicas:hover {
	background-image: url("../../../assets/buttons/musicas_green.png");
}

.albuns {
	background-image: url("../../../assets/buttons/albuns_white.png");
}

.albuns:hover {
	background-image: url("../../../assets/buttons/albuns_green.png");
}

.bandas {
	background-image: url("../../../assets/buttons/bandas_white.png");
}

.bandas:hover {
	background-image: url("../../../assets/buttons/bandas_green.png");
}

.container__opcoes__desktop {
	display: none;
}

.button {
	display: none;
}

.container__meuPerfil {
	display: flex;
	align-items: center;
}

.menu__logo {
	display: flex;
	width: auto;
	height: 45px;
}

.container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	background-color: var(--fundo);
	padding: 1em;
}

.menu__logo__any {
	display: none;
}

@media screen and (min-width: 1220px) {
	.container {
		padding: 0;
		height: 77px;
	}

	.container__opcoes {
		display: none;
	}

	.container__opcoes__desktop {
		display: flex;
		position: center;
		align-items: center;
		height: 100%;
	}

	.container__meuPerfil {
		display: flex;
		align-items: center;
		gap: 0.5em;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-family: var(--ff-montserrat);
		height: 78px;
		width: 100px;
		transition: transform 0.5 ease;
	}

	.button:hover {
		color: var(--fundo);
		background-color: var(--verde-escuro);
		transform: translateY(-1px);
		font-weight: 700;
	}

	.menu__logo {
		display: none;
	}

	.menu__logo__any {
		display: flex;
		height: 45px;
		margin: .5em;
	}
}
