<div class="container">
  <div class="menu">
    <a routerLink="/home"><img class="menu_logo" src="../../../assets/ScreenSound/default_transparent.svg" alt="Logo ScreenSound"></a>
    <a routerLink="/home"><img class="menu_logo_desktop" src="../../../assets/ScreenSound/default_transparent_horizontal.svg" alt="Logo ScreenSound"></a>
  </div>

  <div class="container_opcoes">
		<span class="container_opcoes_button musicas" routerLink="/filtro/musicas"></span>
		<span class="container_opcoes_button albuns" routerLink="/filtro/albuns"></span>
		<span class="container_opcoes_button bandas" routerLink="/filtro/bandas"></span>
  </div>

  <div class="container_opcoes_desktop">
		<span class="container_opcoes_desktop_button" ><a routerLink="/home" class="button">Home</a></span>
		<hr>
		<span class="container_opcoes_desktop_button" ><a routerLink="/filtro/musicas" class="button">Músicas</a></span>
		<hr>
		<span class="container_opcoes_desktop_button" ><a routerLink="/filtro/albuns" class="button">Álbuns</a></span>
		<hr>
		<span class="container_opcoes_desktop_button" ><a routerLink="/filtro/bandas" class="button">Bandas</a></span>
		<hr>
		<span class="container_opcoes_desktop_button" ><a routerLink="/home" class="button">Novidades</a></span>
  </div>


	<div routerLink="/login" class="perfil">
		<span class="perfil_imagem"></span>
		<span class="perfil_button">Perfil</span>
	</div>

</div>
