<div class="container">
  <div class="container__menu">
    <a href="/home"><img class="menu__logo" src="../../../assets/ScreenSound/default_transparent.svg" alt="Logo ScreenSound"></a>
    <a href="/home"><img class="menu__logo__any" src="../../../assets/ScreenSound/default_transparent_horizontal.svg" alt="Logo ScreenSound"></a>
  </div>

  <div class="container__opcoes">
		<span class="button__mobile musicas" routerLink="/musicas"></span>
		<span class="button__mobile albuns" routerLink="/albuns"></span>
		<span class="button__mobile bandas" routerLink="/bandas"></span>
  </div>

  <div class="container__opcoes__desktop">
		<span class="opcoes__button" ><a href="/home" class="button">Home</a></span>
		<span class="opcoes__button" ><a href="/musicas" class="button">Músicas</a></span>
		<span class="opcoes__button" ><a href="/albuns" class="button">Álbuns</a></span>
		<span class="opcoes__button" ><a href="/bandas" class="button">Bandas</a></span>
		<span class="opcoes__button" ><a href="/novidades" class="button">Novidades</a></span>
  </div>

  <div class="container__meuPerfil">
		<img src="../../../assets/buttons/perfil_green.png" alt="Perfil" href="#">
    <a href="#" class="button">Perfil</a>
  </div>
</div>
