<div class="container">
  <div class="container__menu">
    <a href="/home"><img class="menu__logo" src="../../../assets/ScreenSound/default_transparent.svg" alt="Logo ScreenSound"></a>
    <a href="/home"><img class="menu__logo__any" src="../../../assets/ScreenSound/default_transparent_horizontal.svg" alt="Logo ScreenSound"></a>
  </div>

  <div class="container__opcoes">
    <a href="/musicas"><img src="../../../assets/buttons/musicas_white.png" alt="Múscias"></a>
    <a href="/albuns"><img src="../../../assets/buttons/albuns_white.png" alt="Álbuns"></a>
    <a href="/bandas"><img src="../../../assets/buttons/bandas_white.png" alt="Bandas"></a>
  </div>

  <div class="container__meuPerfil">
    <a href="#"><img src="../../../assets/buttons/perfil_green.png" alt="Perfil"></a>
  </div>
</div>
