@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";

.filtro__container video {
	-webkit-filter: brightness(58%);
	-moz-filter: brightness(58%);
	filter: brightness(58%);
	object-fit: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	top: 0;
}

.filtro__container {
	flex-direction: column;
	align-items: center;
	padding: 0 0.5em;
	display: flex;
	width: 100%;

	app-footer {
		margin-top: auto;
		vertical-align: bottom;
		width: 100%;
	}
}

.menu__container {
	margin: 0.5em 0;
	display: flex;
	height: 65px;
	width: 100%;
}

.menu__button {
	width: 100%;
	height: 100%;
	background-size: 32px;
	transition: all 0.3s ease;
	backdrop-filter: blur(5px);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
}

.menu__button:hover {
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border: 1px solid rgba(255, 255, 255, 1);
	transition: all ease-in-out 2s both;
}

.menu__button:active {
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(5.5px);
	-webkit-backdrop-filter: blur(5.5px);
	border: 1px solid rgba(255, 255, 255, 1);
	transition: all ease-in-out 2s both;
}

app-footer {
	width: 100%;
	vertical-align: bottom;
}

.pesquisar {
	background-image: url("../../../assets/Icons/search-black.png");
	border-radius: 0 0.5em 0.5em 0;
}

.pesquisar:hover {
	background-image: url("../../../assets/Icons/search-green.png");
	border-radius: 0 0.5em 0.5em 0;
}

.editar {
	background-image: url("../../../assets/Icons/editar-black.png");
}

.editar:hover {
	background-image: url("../../../assets/Icons/editar-green.png");
}

.excluir {
	background-image: url("../../../assets/Icons/excluir-black.png");
}

.excluir:hover {
	background-image: url("../../../assets/Icons/excluir-green.png");
}

.adicionar {
	background-image: url("../../../assets/Icons/adicionar-black.png");
	border-radius: 0.5em 0 0 0.5em;
}

.adicionar:hover {
	background-image: url("../../../assets/Icons/adicionar-green.png");
	border-radius: 0.5em 0 0 0.5em;
}

.separador__menu {
	height: 100%;
	width: 2px;
}

app-search {
	width: 100%;
	display: flex;
	justify-content: center;
}

app-edit {
	width: 100%;
	display: flex;
	justify-content: center;
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.01);
	}
}

@keyframes scale-down-center {
	0% {
		transform: scale(1.01);
	}

	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes fade-in-bck {
	0% {
		-webkit-transform: translateZ(80px);
		transform: translateZ(80px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

@keyframes fade-in-bck {
	0% {
		-webkit-transform: translateZ(80px);
		transform: translateZ(80px);
		opacity: 0;
	}

	100% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1;
	}
}

@media screen and (min-width: 466px) {
	.menu__container {
		display: flex;
		justify-content: center;
		width: 450px;
	}
}
