<div class="filtro__container">

	<div class="menu__container">

		<span class="menu__button adicionar" (click)="openAdd()" tabindex="0" (keydown)="handler.handleKeyDownPress($event, openAdd)"></span>

		<hr class="separador__menu" />

		<span class="menu__button editar" (click)="openEdit()" tabindex="1" (keydown)="handler.handleKeyDownPress($event, openEdit)"></span>

		<hr class="separador__menu" />

		<span class="menu__button excluir"></span>


		<hr class="separador__menu" />

		<span class="menu__button pesquisar" (click)="openSearch()" tabindex="3" (keydown)="handler.handleKeyDownPress($event, openSearch)"></span>

	</div>

	<app-search [(search)]="search" (searchChange)="onSearchChange($event)" [rotaAtual]="rotaAtual" *ngIf="search"></app-search>
	<app-edit [(edit)]="edit" (editChange)="onEditChange($event)" [rotaAtual]="rotaAtual" *ngIf="edit"></app-edit>
	<app-add [(add)]="add" (addChange)="onAddChange($event)" [rotaAtual]="rotaAtual" *ngIf="add"></app-add>

	<router-outlet *ngIf="listar && (!add && !edit)" [musicas]="musicas" [albuns]="albuns" [bandas]="bandas"></router-outlet>

	<video autoplay loop muted playsinline>

		<source src="../../../assets/Videos/screensound_video1.mp4" type="video/mp4"/>

	</video>

</div>
