<div class="filtro__container">

	<div class="menu__container">

		<span class="menu__button adicionar" (click)="log()"></span>

		<hr class="separador__menu" />

		<span class="menu__button editar"></span>

		<hr class="separador__menu" />

		<span class="menu__button excluir"></span>

		<hr class="separador__menu" />

		<span class="menu__button pesquisar" (click)="search = !search"></span>

	</div>

	<div class="pesquisador" *ngIf="search">

		<div class="pesquisador__header">

			<span (click)="search = false" class="fechar__pesquisa"></span>
			<h3 class="tituloPesquisar">Pesquisar</h3>

		</div>

		<div class="pesquisador__body">

			<input
				type="search"
				id="search"
				placeholder="Pesquise pelo nome"
				(keyup)="pesquisar(filtro)"
			/>

		</div>

	</div>

	<router-outlet [musicas]="musicas" [bandas]="bandas" [albuns]="albuns"></router-outlet>

	<video autoplay loop muted>
		<source
		src="../../../assets/Videos/screensound_video1.mp4"
		type="video/mp4"
		/>
	</video>
	<app-footer *ngIf="musicas.length >= 20 || bandas.length >= 20 || albuns.length >= 20"></app-footer>
</div>
