@mixin display-flex(
	$direction: colum,
	$align: center,
	$justify: center,
	$wrap: nowrap
) {
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
	flex-wrap: $wrap;
}
