<div class="filtro__container">

  <div class="menu__container">

    <span class="menu__button adicionar"></span>

    <hr class="separador__menu" />

    <span class="menu__button editar"></span>

    <hr class="separador__menu" />

    <span class="menu__button excluir"></span>

    <hr class="separador__menu" />

    <span class="menu__button pesquisar"></span>

  </div>

  <div class="lista__container" *ngIf="musicas.length > 0; else semMusicas">

    <div class="musica" *ngFor="let musica of musicas">
      <div class="musica__container">

        <div class="container__musica">
          <img [src]="musica.imagem" [alt]="musica.nome" class="imagem__musica" />
          <p>{{ musica.banda }}</p>
        </div>

        <hr>

        <div class="container__musica2">

          <h3 class="nome__musica">{{ musica.nome }}</h3>

          <p class="descricoes">
            <b>Duração</b>: {{ musica.duracao }} segundos <br />
            <b>Álbum</b>: {{ musica.album }}
          </p>

        </div>

      </div>
      <hr class="separador__musica" />


    </div>
  </div>

  <ng-template #semMusicas class="semMusicas">
    <img src="../../../../assets/Icons/vazio.png" alt="" style="height: 100px; width: 100px;"/>
    <p style="color: white;">Parece que ficamos sem músicas capitão!</p>
  </ng-template>
</div>
