@import url("../../../../styles.css");

p {
  color: var(--fundo);
}

.filtro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.menu__container {
  display: flex;
  width: 100%;
  height: 65px;
}

.lista__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border-radius: .5em;
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
  -moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.menu__button {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
  -moz-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.45) inset;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.adicionar {
  border-radius: 0.5em 0 0 0.5em;
}

.menu__container:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

.menu__button:hover {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: all ease-in-out 2s both;
}

.pesquisar {
  background-image: url("../../../../assets/Icons/search-black.png");
  border-radius: 0 0.5em 0.5em 0;
}

.pesquisar:hover {
  background-image: url("../../../../assets/Icons/search-green.png");
  border-radius: 0 0.5em 0.5em 0;
}

.editar {
  background-image: url("../../../../assets/Icons/editar-black.png");
}

.editar:hover {
  background-image: url("../../../../assets/Icons/editar-green.png");
}

.excluir {
  background-image: url("../../../../assets/Icons/excluir-black.png");
}

.excluir:hover {
  background-image: url("../../../../assets/Icons/excluir-green.png");
}

.adicionar {
  background-image: url("../../../../assets/Icons/adicionar-black.png");
}

.adicionar:hover {
  background-image: url("../../../../assets/Icons/adicionar-green.png");
}

.separador__menu {
  height: 100%;
  width: 2px;
}

.musica {
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 0.5s;
}

.musica:hover {
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  transition: all ease-in-out 2s both;
}

.musica:hover .nome__musica {
  color: #55A162;
  animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate both;
}

.musica::after .nome__musica {
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate both;
}

.musica__container {
  display: flex;
  padding: 0.5em;
}

.container__musica {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 166px;
}

.container__musica2 {
  width: 100%;
}

.musica__container hr {
  height: 125px;
  width: 2px;
  background-color: var(--branco);
  margin: 0 0.5em;
}

.nome__musica {
  font-size: 16px;
  color: var(--fundo);
  font-family: var(--ff-montserrat);
  font-weight: 700;
  margin: 0 0.5em;
}

.descricoes {
  margin: 0 0.5em;
}

.separador__musica {
  width: 100%;
  height: 2px;
}

.imagem__musica {
  height: 100px;
  width: 100px;
  border-radius: 0.5em;
}

.semMusicas p {
  color: var(--branco);
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.01);
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
    transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media screen and (min-width: 1220px) {
  .menu__container {
    display: flex;
    justify-content: center;
    width: 450px;
  }
}
