@import url("../../../../../styles.css");

.card {
	display: flex;
	width: 400px;
	padding: 1rem;
	border-radius: 0.5rem;
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 500ms forwards;
	transition: transform 0.5s ease;
	cursor: pointer;

	&:hover {
		background-color: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(5.5px);
		-webkit-backdrop-filter: blur(5.5px);
		transition: transform ease-in-out 2s both;
	}

	&:hover .imagem_musica {
		transform: scale(1.1);
		transition: tranform;
	}

	&:hover .titulo_musica {
		font-size: 1.2rem;
		color: var(--verde-escuro);
		font-weight: 600;
	}

	.container_card {
		display: flex;

		.card_titulo {
			height: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;

			.imagem_musica {
				display: flex;
				width: 100px;
				height: 100px;
				border-radius: 0.3rem;
				transition: all ease 0.5s;
			}

			.nome_banda {
				display: flex;
				font-size: 1.2rem;
				color: var(--fundo);
				transition: all ease 1s;
			}
		}

		.separador {
			display: flex;
			margin: 0 0.5rem;
		}

		.card_informacoes {
			display: flex;
			flex-direction: column;
			width: 220px;
			font-size: 1rem;
			font-family: var(--ff-quicksand);

			.titulo_musica {
				display: flex;
				text-wrap: wrap;
				font-size: 1rem;
				transition: all ease 0.5s;
			}

			.duracao_musica {
				display: flex;
				color: var(--fundo);
			}

			.disponibilidade_musica {
				display: flex;
				color: var(--fundo);
			}
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.02);
	}
}

@media screen and (min-width: 980px) {
	.musica {
		height: 100%;
		width: 400px;

		&:hover {
			border-radius: 0.5em;
		}
	}

	.musica__container {
		margin: 0.2em;
	}
}

@media screen and (min-width: 1690px) {
	.card {
		margin: 0.2rem;
		width: 390px;
	}
}
