@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";

.card {
	display: flex;
	width: 400px;
	padding: 1rem;
	border-radius: 0.5rem;
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 500ms forwards;
	transition: transform 0.5s ease;

	&:hover {
		background-color: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(5.5px);
		-webkit-backdrop-filter: blur(5.5px);
	}

	&:hover .imagem_album {
		transform: scale(1.1);
	}

	&:hover .nome_album {
		color: $primary-dark;
		font-weight: 600;
	}

	.card_container {
		display: flex;
		align-items: center;

		.card_titulo {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100px;
			margin: 0 0.5rem;

			.imagem_album {
				display: flex;
				border-radius: 0.5rem;
				height: 100px;
				width: 100px;
				transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
			}

			.nome_banda {
				display: flex;
				font-size: 1rem;
				color: $fundo;
				font-weight: 600;
				margin-top: 0.5rem;
			}
		}

		hr {
			height: 100%;
			margin: 1rem;
		}

		.nome_album {
			display: flex;
			font-family: $ff-quicksand;
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.01);
	}
}

@media screen and (min-width: 1690px) {
	.card {
		width: 390px;
		padding: 0.7rem;
		cursor: pointer;
	}
}
