@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/scss/mixins/_display.scss";
@import "src/scss/responsivity/breakpoints.scss";

.card {
	@include display-flex(row, none, none);
	padding: 0.5rem;
	border-radius: 0.3rem;
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 500ms forwards;
	transition: transform 0.5s ease;
	cursor: pointer;

	&:hover {
		background-color: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(5.5px);
		-webkit-backdrop-filter: blur(5.5px);
	}

	&:hover .imagem_album {
		transform: scale(1.1);
	}

	&:hover .card_container .nome_album {
		@include title-medium;
		font-weight: $font-weight-semiBold;
		color: $primary-dark;
	}

	.card_container {
		display: flex;
		align-items: center;

		.card_titulo {
			@include display-flex(column, center, space-between);
			width: 6.25rem;
			height: 100%;

			@include media-min-sm {
				width: 6.25rem;
			}

			.imagem_album {
				display: flex;
				width: 4.688rem;
				height: 4.688rem;
				border-radius: 0.3rem;
				transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;

				@include media-min-sm {
					width: 6.25rem;
					height: 6.25rem;
				}
			}

			.nome_banda {
				@include title-small;
				font-family: $ff-quicksand;
				display: flex;
				color: $bg;

				@include media-min-sm {
					@include title-medium;
					font-weight: $font-weight-semiBold;
					color: $bg;
				}
			}
		}

		.separador {
			background-color: $white;
			border-radius: 30%;
			display: flex;
			margin: 0.5rem;
			height: 100%;
			width: 2px;
		}

		.nome_album {
			@include title-small;
			font-family: $ff-quicksand;
			font-weight: $font-weight-normal;

			@include media-min-sm {
				@include title-medium;
				font-family: $ff-quicksand;
				font-weight: $font-weight-normal;
			}
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.01);
	}
}
