@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";

.card {
	display: flex;
	border-radius: 0.7rem;
	padding: 0.5rem;
	width: 100%;
	height: 100%;
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in-bck 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 500ms forwards;
	transition: transform 0.5s ease;
	overflow: hidden;
	cursor: pointer;

	&:hover {
		background-color: rgba(255, 255, 255, 0.25);
		backdrop-filter: blur(5.5px);
		-webkit-backdrop-filter: blur(5.5px);
		transition: transform ease-in-out 2s both;
	}

	&:hover .imagem_banda {
		transform: scale(1.1);
	}

	&:hover .nome_banda {
		color: $primary-dark;
		font-weight: 600;
	}

	.card_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: .5rem;
		align-items: center;

		.imagem_banda {
			display: flex;
			border-radius: 0.5rem;
			height: 100px;
			width: 100px;
			transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
		}

		.nome_banda {
			display: flex;
			font-size: 1rem;
			color: $fundo;
		}
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.02);
	}
}

@media screen and (min-width: 1600px) {
	.imagem_banda {
		height: 120px;
		width: 120px;
	}
}
