@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";
@import "src/scss/customs/_buttons.scss";
@import "src/scss/customs/_input.scss";

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem;
	width: 100%;
	max-width: 31.25rem;
	height: 100%;
	max-height: 28.125rem;
	border-radius: 0.7em;
	background-color: rgba(255, 255, 255, 0.55);
	box-shadow: 0 0 2.25rem 0 rgba(0, 0, 0, 0.45) inset;
	-webkit-box-shadow: 0 0 2.25rem 0 rgba(0, 0, 0, 0.45) inset;
	-moz-box-shadow: 0 0 2.25rem 0 rgba(0, 0, 0, 0.45) inset;
	backdrop-filter: blur(0.313rem);
	-webkit-backdrop-filter: blur(0.313rem);
	border: 0.063rem solid rgba(255, 255, 255, 1);
	overflow: hidden;

	.imagem_form {
		width: 9.375rem;
		margin: 1rem;
	}

	.form_container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		max-width: max-content;
		width: 100%;

		.form_buttons {
			display: flex;
			gap: 0.5rem;
			padding: 0.5rem;
			margin: 0.5rem;

			&_button {
				color: $primary-light;

				&:active {
					color: $primary-dark;
				}
			}
		}
	}
}

// mat-input-container {
// 	width: 100%;
// 	height: 100%;
// 	max-width: 30.625rem;
// 	max-height: 9.375rem;
// }
