<div class="container">
	<form class="example-form">
		<mat-form-field>
			<mat-label>Input</mat-label>
			<input matInput placeholder="Usuário"/>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Select</mat-label>
			<mat-select aria-placeholder="Select">
				<mat-option value="one">First Option</mat-option>
				<mat-option value="two">Second Option</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Textarea</mat-label>
			<textarea matInput></textarea>
		</mat-form-field>
	</form>
</div>
