.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: .5em;

	h3 {
		margin: .5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
	}

	.login_form {
		display: flex;
		align-items: center;
	}
}

.container_video {
	-webkit-filter: brightness(58%);
	-moz-filter: brightness(58%);
	filter: brightness(58%);
	object-fit: cover;
	position: fixed;
	height: 100%;
	width: 100vw;
	z-index: -1;
	top: 0;
	left: 0;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
}
