@import "src/scss/mixins/_display.scss";

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100vw;
	padding: .5rem;

	.titulo {
		@include display-flex(row, center, center);
		margin: .5rem;
		margin-bottom: 2rem;
	}
}

.container_video {
	-webkit-filter: brightness(58%);
	-moz-filter: brightness(58%);
	filter: brightness(58%);
	object-fit: cover;
	position: fixed;
	height: 100%;
	width: 100vw;
	z-index: -1;
	top: 0;
	left: 0;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
}
