@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_display.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/reset.scss";

p {
	@include body-small;
	color: grey;
}

hr {
	background-color: $white;
	margin: 0.5rem 0.5rem;
	height: 100px;
	width: 2px;
}

.container {
	gap: 1rem;
	display: flex;
	margin: 0 0.5rem;
	margin-bottom: 0.5rem;
	flex-direction: column;
}

.titulo {
	@include display-flex(row, center, center);
	@include headline-small;
	color: $white;
	height: 2.813rem;
	font-weight: 400;
	font-family: $ff-montserrat;
	background-color: $primary-dark;
	border-radius: 0.5rem 0.5rem 0 0;
}

.topfive {
	display: flex;
	flex-direction: column;
}

.lista__topfive {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	background-color: $bg;
	border-left: solid 1px #52616b;
	border-right: inset 1px #52616b;
	width: 100%;
}

.container__imagem {
	@include display-flex(row);
	size: 100%;
	margin: 0.5em;
	border-radius: 0.5em;
}

.imagem__nao__encontrada {
	height: 4.063rem;
	width: 4.063rem;
}

.imagem {
	height: 5.625rem;
	width: 5.625rem;
	border-radius: 0.5rem;
}

.rodape__topfive {
	display: flex;
	height: 2.813rem;
	width: 100%;
	background-color: $primary-dark;
	border-radius: 0 0 0.7rem 0.7rem;
}

@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-6.25rem);
		transform: translateX(-6.25rem);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-62.5rem);
		transform: translateX(-62.5rem);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@media screen and (min-width: 76.25rem) {
	.container {
		display: flex;
		flex-direction: row;
		grid-template-columns: 33% 33% 33%;
		margin: 0.5rem;
		gap: 1.5rem;
	}

	.topfive {
		width: 100%;
	}
}
