@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";
@import "src/reset.scss";

p {
	margin: 0;
	color: #52616b;
	height: 50px;
	font-size: 14px;
}

h3 {
	font-family: $ff-montserrat;
	font-weight: 700;
	display: flex;
	align-items: center;
	font-size: 16px;
	height: 32px;
}

hr {
	background-color: $branco;
	margin: 0.5em 0.5em;
	height: 100px;
	width: 2px;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 0 0.5em;
	gap: 1em;
	margin-bottom: 0.5em;
}

.titulo {
	font-size: 24px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	font-family: $ff-montserrat;
	background-color: $primary-dark;
	border-radius: 0.5em 0.5em 0 0;
}

.topfive {
	display: flex;
	flex-direction: column;
}

.lista__topfive {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	background-color: $fundo;
	border-left: solid 1px #52616b;
	border-right: inset 1px #52616b;
	width: 100%;
}

.container__imagem {
	display: flex;
	align-items: center;
	justify-content: center;
	size: 100%;
	/* height: 90px;
  width: 90px; */
	/* background-color: #e7ebee; */
	margin: 0.5em;
	border-radius: 0.5em;
}

.imagem__nao__encontrada {
	height: 65px;
	width: 65px;
}

.imagem {
	height: 90px;
	width: 90px;
	border-radius: 0.5em;
}

.rodape__topfive {
	display: flex;
	height: 45px;
	width: 100%;
	background-color: $primary-dark;
	border-radius: 0 0 0.5em 0.5em;
}

@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

@media screen and (min-width: 1220px) {
	.container {
		display: flex;
		flex-direction: row;
		grid-template-columns: 33% 33% 33%;
		margin: 0.5em;
		gap: 1.5em;
	}

	.topfive {
		width: 100%;
	}
}
