P, h2 {
  margin: 0;
  color: var(--branco);
  font-family: var(--ff-montserrat);
}

h2 {
  font-size: 24px;
}

img {
  height: 32px;
  width: 32px;
}
hr {
  opacity: 100%;
  margin: 1em 0.5em;
}

.buttons__button {
  text-decoration: none;
  font-family: var(--ff-montserrat);
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  width: 150px;
  height: 55px;
  background-color: var(--verde-escuro);
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 25%);
}

.buttons__button:active {
  box-shadow: none;
  scale: 0.8;
  background-color: var(--cor-principal);
  transition: all ease-out 0.3s;
}

.buttons__button:hover {
  box-shadow: none;
  scale: 1.1;
  transition: all ease-in-out 0.5s;
}

.buttons__button img:hover {

}

.container__buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1em;
}

.container {
  margin: 0em 0em 1.2em 0em;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.container__downloads {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloads__hr {
  margin: 0em 0.5em;
  opacity: 100%;
  width: 100%;
  height: 2px;
}
