@import "src/scss/vars/_colors.scss";
@import "src/scss/vars/_fonts.scss";
@import "src/reset.scss";

p,
h2 {
	color: $branco;
	font-family: $ff-montserrat;
}

h2 {
	font-size: 24px;
}

img {
	height: 32px;
	width: 32px;
}
hr {
	opacity: 100%;
	margin: 1em 0.5em;
}

.buttons__button {
	text-decoration: none;
	font-family: $ff-montserrat;
	color: $branco;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	gap: 0.2em;
	width: 150px;
	height: 55px;
	background-color: $primary-dark;
	box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 25%);
	border-radius: 0.2em;
	transition: transform 0.5s ease;

	&:active {
		box-shadow: none;
		scale: 0.8;
		background-color: var(--cor-principal);
		transition: all ease-out 0.4s;
	}

	&:hover img {
		box-shadow: none;
		animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
			alternate both;
		transition: all ease-in-out 0.4s alternate;
	}

	&:hover {
		box-shadow: none;
		animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
			alternate both;
		transition: all ease-in-out 0.4s alternate;
	}

	&:default img {
		animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
			alternate both;
	}
}

.container__buttons {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	margin: .5rem;
}

.container {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.container__downloads {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.downloads__hr {
	margin: 0em 0.5em 0.5em 0.5em;
	opacity: 100%;
	width: 100%;
	height: 2px;
}

.hr_separador {
	margin: 0 0.5em 0.5em 0.5em;
}

@keyframes scale-up-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes scale-down-center {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}
