@import url('../../../../styles.css');

p, h2{
  color: var(--branco);
  font-family: var(--ff-montserrat);
}

h2 {
  font-size: 24px;
}

img {
  height: 32px;
  width: 32px;
}
hr {
  opacity: 100%;
  margin: 1em 0.5em;
}

.buttons__button {
  text-decoration: none;
  font-family: var(--ff-montserrat);
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  width: 150px;
  height: 55px;
  background-color: var(--verde-escuro);
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 25%);
  border-radius: .2em;
}

.buttons__button:active {
  box-shadow: none;
  scale: 0.8;
  background-color: var(--cor-principal);
  transition: all ease-out 0.4s;
}

.buttons__button:hover img {
  box-shadow: none;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) alternate both;
  transition: all ease-in-out 0.4s alternate;
}

.buttons__button:hover {
  box-shadow: none;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) alternate both;
  transition: all ease-in-out 0.4s alternate;
}

.buttons__button:default img {
  animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate both;
}

.container__buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: .5em;
  margin: 0 .5em;
}

.container {
  margin: 0em 0em 1.5em 0em;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.container__downloads {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.downloads__hr {
  margin: 0em 0.5em 0.5em 0.5em;
  opacity: 100%;
  width: 100%;
  height: 2px;
}

.hr_separador {
  margin: 0 .5em .5em .5em  ;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
