@import url(../../../../styles.css);

.adicionador {
	position: relative;
	font-family: var(--ff-quicksand);
	width: 100%;
	border: 1px solid var(--cor-principal);

	.segunda__linha {
		gap: 0.5em;
		margin-bottom: 0.5em;

		.duracao {
			width: 100%;
		}

		.banda {
			width: 100%;
		}

		.album {
			width: 100%;
		}
	}
}

.descricao__button {
	gap: 0.5em;
	display: flex;
	justify-content: space-between;

	.descricaoBanda {
		gap: 0.3em;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}

.disponibilidade {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin-bottom: 1em;
}

.nomeAlbum__banda {
	display: flex;
	gap: 0.5em;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1em;

	.banda {
		width: 100%;
	}

	.nome {
		width: 100%;
	}
}

.container__disponibilidadeImagem {
	display: flex;
	gap: 0.5em;
	margin-bottom: 2.5rem;

	.container__disponibilidade__imagem {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		width: 100%;
	}

	.imagem__preview {
		width: 100px;
		height: 100px;
		border-radius: 0.5em;
	}
}

@media screen and (min-width: 900px) {
	.adicionador {
		width: 700px;
		height: 450px;

		.segunda__linha {
			display: flex;
		}

		.form {
			width: 90%;

			.button {
				gap: 0.5em;

				.limpar {
					width: 135px;
				}
			}

			.descricao__button {
				display: flex;
				justify-content: center;
				gap: 0.5em;

				.descricaoBanda {
					width: 100%;

					textarea {
						width: 100%;
						padding: 0.3em;
					}
				}
			}

			.container__disponibilidadeImagem {
				display: flex;
				gap: 0.5em;
				margin-bottom: 2.5rem;

				.container__disponibilidade__imagem {
					display: flex;
					flex-direction: column;
					gap: 0.5em;
					width: 100%;
				}

				.imagem__preview {
					width: 100px;
					height: 100px;
					border-radius: 0.5em;
				}
			}
		}
	}
}
