@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/scss/mixins/_display.scss";
// @import "src/scss/styles.scss";

.adicionador {
	position: relative;
	font-family: $ff-quicksand;
	border: 1px solid var(--cor-principal);
	width: 100%;
	padding: 0.5rem;

	.segunda__linha {
		gap: 0.5em;
		margin-bottom: 0.5em;

		.duracao {
			width: 100%;
		}

		.banda {
			width: 100%;
		}

		.album {
			width: 100%;
		}
	}
}

.descricao {
	gap: 0.3em;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.disponibilidade {
	display: flex;
	gap: 0.5em;
	align-items: center;
	margin-bottom: 1em;
}

.nomeAlbum__banda {
	display: flex;
	gap: 0.5em;
	align-items: center;
	flex-direction: column;
	margin-bottom: 1em;

	.banda {
		width: 100%;
	}

	.nome {
		width: 100%;
	}
}

.container__disponibilidadeImagem {
	display: flex;
	gap: 0.5em;
	margin-bottom: 2.5rem;

	.container__disponibilidade__imagem {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		width: 100%;
	}

	.imagem__preview {
		width: 100px;
		height: 100px;
		border-radius: 0.5em;
	}
}

.imagem {
	@include display-flex(row, center, center);
	margin-bottom: 1rem;
	height: 6.25rem;

	&_input {
		width: 100%;
		margin-right: 0.5rem;
	}

	&_preview {
		border-radius: 0.5rem;
		width: 100%;
		height: 100%;
		max-width: 100px;
		max-height: 100px;
	}
}

@media screen and (min-width: 900px) {
	.adicionador {
		width: 43.75rem;
		height: 28.125rem;

		.segunda__linha {
			display: flex;
		}

		.form {
			width: 90%;

			.button {
				gap: 0.5em;

				.limpar {
					width: 8.438rem;
				}
			}

			.descricao__button {
				display: flex;
				justify-content: center;
				gap: 0.5rem;

				.descricaoBanda {
					width: 100%;

					textarea {
						width: 100%;
						padding: 0.3rem;
					}
				}
			}

			.container__disponibilidadeImagem {
				display: flex;
				gap: 0.5rem;
				margin-bottom: 2.5rem;

				.container__disponibilidade__imagem {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					width: 100%;
				}

				.imagem__preview {
					width: 100px;
					height: 100px;
					border-radius: 0.5rem;
				}
			}
		}
	}
}
