<div class="adicionador container__painel" *ngIf="rotaAtual === '/filtro/musicas'">

	<span class="fechar__janela" (click)="onAddChange()" (keydown)="handler.handleKeyDownPress($event, onAddChange)" tabindex="0"></span>
	<h2 class="titulo">Adicionar Música</h2>
	<p class="descricao">Adicione novas músicas à nossa listagem de músicas</p>


	<form class="form" (submit)="onAddMusica(musica)" #form="ngForm">

		<div class="nome div__input">
			<input mat-form-field type="text" id="nome" name="musica.nome" class="nome__input" required [(ngModel)]="musica.nome">
			<label for="nome" class="nome__label">Nome</label>
		</div>

		<div class="segunda__linha">
			<div class="duracao div__input">
				<input type="number" id="duracao" name="musica.duracao" class="duracao__input" required [(ngModel)]="musica.duracao">
				<label for="duracao" class="duracao__label">Duração</label>
			</div>

			<div class="banda div__input">
				<input type="search" id="banda" name="musica.banda" class="banda__input" required [(ngModel)]="musica.nomeBanda">
				<label for="banda" class="banda__label">Banda</label>
			</div>

			<div class="album div__input">
				<input type="text" id="album" name="musica.album" class="album__input" required [(ngModel)]="musica.nomeAlbum">
				<label for="album" class="album__label">Álbum</label>
			</div>
		</div>

		<div class="container__disponibilidadeImagem">
			<div class="container__disponibilidade__imagem">
				<div class="disponibilidade">
					<div class="toggle">
						<input type="checkbox" id="disponibilidade" name="musica.disponivel" [(ngModel)]="musica.disponivel"/>
						<label for="disponibilidade"></label>
					</div>
					<p>Disponível no Plano Basic?</p>
				</div>

				<div class="imagem div__input">
						<input type="file" id="imagem" name="musica.imagem" class="imagem__input" (change)="onImageChange($event)" accept="image/*" [(ngModel)]="imagem">
						<label for="imagem" class="imagem__label">Capa da Música</label>
				</div>
			</div>

			<img [src]="this.imagem ? this.imagem : nenhumaImagem" [alt]="musica.nome" class="imagem__preview">
		</div>

		<div class="button">
			<button type="reset" class="button__submit limpar">Limpar Campos</button>
			<button type="submit" class="button__submit">Adicionar</button>
		</div>

	</form>

</div>

<div class="adicionador container__painel" *ngIf="rotaAtual === '/filtro/albuns'">

	<span class="fechar__janela" (click)="onAddChange()" (keydown)="handler.handleKeyDownPress($event, onAddChange)" tabindex="0"></span>
	<h2 class="titulo">Adicionar Álbum</h2>
	<p class="descricao">Adicione novos Álbuns à nossa listagem de álbuns</p>

	<form class="form" (submit)="onAddAlbum(album)" #form="ngForm">

		<div class="nomeAlbum__banda">
			<div class="nome div__input">
				<input type="text" id="nome" name="nome" class="nome__input" required [(ngModel)]="album.nome">
				<label for="nome" class="nome__label">Nome</label>
			</div>

			<div class="banda div__input">
				<input type="search" id="banda" name="banda" class="banda__input" required [(ngModel)]="album.nomeBanda">
				<label for="banda" class="banda__label">Banda</label>
			</div>
		</div>

		<div class="button">
			<button type="submit" class="button__submit">Adicionar</button>
		</div>

	</form>
</div>

<div class="adicionador container__painel" *ngIf="rotaAtual === '/filtro/bandas'">

	<span class="fechar__janela" (click)="onAddChange()" (keydown)="handler.handleKeyDownPress($event, onAddChange)" tabindex="0"></span>
	<h2 class="titulo">Adicionar Banda</h2>
	<p class="descricao">Adicione novas Bandas à nossa listagem de bandas</p>

	<form action="submit" (submit)="onAddBanda(banda)" class="form" #form="ngForm">

		<div class="nome div__input">
			<input type="text" id="nome" name="nomeBanda" class="nome__input" required [(ngModel)]="banda.nome">
			<label for="nome" class="nome__label">Nome</label>
			<span class="bar"></span>
		</div>

		<div class="descricao__button">

			<div class="descricaoBanda">
				<textarea name="descricao" name="descricaoBanda" id="descricao" rows="8" [(ngModel)]="banda.descricao"></textarea>
				<label for="descricao" class="descricao__label">Descrição (opcional)</label>
			</div>

			<div class="button">
				<button type="submit" class="button__submit">Adicionar</button>
			</div>

		</div>

	</form>
</div>
