@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap');

:root {
  --fundo: #1F1717;
  --cor-principal: #5AED83;
  --verde-escuro: #55A162;
  --branco: #E0E0E0;
  --ff-montserrat: 'Montserrat Alternates', sans-serif;
  --inner-shadow: inset .2rem .2rem .5rem #c8d0e7,
                  inset -.2rem -.2rem .5rem white;
}

body {
  width: 100%;
  height: 100%;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p {
  font-size: 16px;
  font-family: var(--ff-montserrat);
  color: var(--branco);
}

body {
  background-color: var(--fundo);
  color: var(--branco);
  font-family: var(--ff-montserrat);
  font-weight: 400;
}
