@import "src/scss/vars/_colors.scss";
@import "src/scss/mixins/_fonts.scss";
@import "src/scss/mixins/_display.scss";
@import "src/reset.scss";

.container {
	@include display-flex(row, center, center);
	@include body-small;
	padding: 1rem;
	text-align: center;
	background-color: $primary-dark;
	box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 25%);
}

.tablet {
	display: none;
}

.desktop {
	display: none;
}

@media screen and (min-width: 900px) {
	.tablet {
		display: flex;
		gap: 0.2em;
	}

	.mobile {
		display: none;
	}
}
