<div class="editor container__painel" *ngIf="rotaAtual === '/filtro/musicas'">
	<span class="fechar__janela" (click)="onEditChange()" (keydown)="handler.handleKeyDownPress($event, onEditChange)" tabindex="0"></span>
	<h2 class="titulo">Editar Música</h2>
	<p class="descricao">Edite suas músicas, lembre-se de preencher corretamente às informações</p>

	<form class="form" (submit)="onEditMusica(musicaDto)" #form="ngForm">

		<div class="nome div__input">
			<input type="text" id="nome" name="musica.nome" class="nome__input" required [(ngModel)]="musicaDto.nomeMusica">
			<label for="nome" class="nome__label">Nome</label>
		</div>

		<div class="segunda__linha">
			<div class="duracao div__input">
				<input type="number" id="duracao" name="musica.duracao" class="duracao__input" required [(ngModel)]="musicaDto.duracao">
				<label for="duracao" class="duracao__label">Duração</label>
			</div>

			<div class="banda div__input">
				<input type="search" id="banda" name="musica.banda" class="banda__input" required [(ngModel)]="musicaDto.nomeBanda">
				<label for="banda" class="banda__label">Banda</label>
			</div>

			<div class="album div__input">
				<input type="text" id="album" name="musica.album" class="album__input" required [(ngModel)]="musicaDto.nomeAlbum">
				<label for="album" class="album__label">Álbum</label>
			</div>
		</div>

		<div class="disponibilidade">
			<div class="toggle">
				<input type="checkbox" id="disponibilidade" name="musica.disponivel" [checked]="musica.disponivel" [(ngModel)]="musicaDto.disponivel"/>
				<label for="disponibilidade"></label>
			</div>
			<p>Disponível no Plano Basic?</p>
		</div>

		<div class="button">
			<button type="submit" class="button__submit">Editar</button>
		</div>

	</form>

</div>

<div class="editor container__painel" *ngIf="rotaAtual === '/filtro/albuns'">
	<span class="fechar__janela" (click)="onEditChange()" (keydown)="handler.handleKeyDownPress($event, onEditChange)" tabindex="0"></span>
	<h2 class="titulo">Adicionar Álbum</h2>
	<p class="descricao">Edite os Álbuns da nossa listagem de álbuns</p>

	<form class="form" (submit)="onEditAlbum(albumDto)" #form="ngForm">

		<div class="nomeAlbum__banda">
			<div class="nome div__input">
				<input type="text" id="nome" name="nome" class="nome__input" required [(ngModel)]="albumDto.nome">
				<label for="nome" class="nome__label">Nome</label>
			</div>
		</div>

		<div class="banda__button">
			<div class="banda div__input">
				<input type="search" id="banda" name="banda" class="banda__input" required [(ngModel)]="albumDto.nomeBanda">
				<label for="banda" class="banda__label">Banda</label>
			</div>

			<div class="button">
				<button type="submit" class="button__submit">Editar</button>
			</div>
		</div>

	</form>
</div>

<div class="editor container__painel" *ngIf="rotaAtual === '/filtro/bandas'">
	<span class="fechar__janela" (click)="onEditChange()" (keydown)="handler.handleKeyDownPress($event, onEditChange)" tabindex="0"></span>
	<h2 class="titulo">Adicionar Banda</h2>
	<p class="descricao">Edite as informações das Bandas da nossa listagem de bandas</p>

	<form action="submit" (submit)="onEditBanda(bandaDto)" class="form" #form="ngForm">

		<div class="nome div__input">
			<input type="text" id="nome" name="nomeBanda" class="nome__input" required [(ngModel)]="bandaDto.nome">
			<label for="nome" class="nome__label">Nome</label>
			<span class="bar"></span>
		</div>

		<div class="descricao__button">

			<div class="descricaoBanda">
				<textarea name="descricao" name="descricaoBanda" id="descricao" rows="8" [(ngModel)]="bandaDto.descricao"></textarea>
				<label for="descricao" class="descricao__label">Descrição (opcional)</label>
			</div>

			<div class="button">
				<button type="submit" class="button__submit">Editar</button>
			</div>

		</div>

	</form>
</div>
