@import url(../../../../styles.scss);

.editor {
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: $ff-quicksand;

	.segunda__linha {
		display: flex;
		gap: .5em;
		margin-bottom: 0.5em;

		.duracao {
			width: 100%;
		}

		.banda {
			width: 100%;
		}

		.album {
			width: 100%;
		}
	}

	.disponibilidade {
		display: flex;
		gap: 0.5em;
		align-items: center;
		margin-bottom: 1em;
	}

	.banda__button {
		display: flex;
		gap: 1em;
	}

	.descricao__button {
		justify-content: space-between;
		display: flex;
		width: 100%;
		gap: .5em;

		.descricaoBanda {
			gap: .3em;
			width: 100%;
			display: flex;
			flex-direction: column;

			textarea {
				padding: .3em;
			}
		}
	}

}


@media screen and (min-width: 900px) {
	.editor {
		width: 700px;
	}
}
